

<div class='nav-page well'>
  <!-- <legend><h1> About Me </h1></legend> -->
    <div class='profile-pic-div'>
      <img src='public/profile.jpg' class='img profile-pic img-responsive img-thumbnail'>
      <h3> A Bit About Me...</h3>
      <legend></legend>
    </div>


    <div class='about-me clearfix'>
    <img class='img img-responsive about-img-left' src='public/lathe.jpg'>
    <p>I love to build. In my father’s barn I learned to hack things together from leftover
      wood scraps. Chess pieces, bowls, boxes; whatever could be made from the odds and ends.
      I've also always had a healthy sense of adventure. Growing up minutes from sunken
      French and Indian war era shipwrecks, it wasn't long before I began exploring them
      with an aluminum tank strapped to my back. As a college student I was quick to get
      involved with the BU Outing Club, leading multi day hikes in the White Mountains of New Hampshire.
      My attitude toward taking calculated risks, learning from failure, and addressing volatile situations
      in real time is largely a result of my experiences underwater and on the mountain.
    </p>
    <!-- <img class='img img-responsive about-img' src='public/diving.jpg'> -->

    <p>After graduating I set out to find an career which fulfilled my sense of adventure
      and inclination for piecing things together. My first job as an technical auditor with
      Oracle was a fantastic adventure, but I needed to build...so I started building.
    </p>

    <img class='img img-responsive about-img-right' src='public/diving.jpg'>

    <p>My first program, if you can call it that, was a series of recorded excel
      macros strung together. A user pasted some specific data into a defined excel
      range, ran the macro string and watched their spreadsheet convulse for about a
      century until finally producing a schedule and graph of 'Retro-Term Licenses.'
      I was thrilled, and started digging into VBA, shell scripting, and the inner working
      of MSOffice. When that wasn't enough I enrolled in General Assembly’s Data Science Part-Time
      course where I learned python, the basics of machine learning and displaying the resulting data.
      By the time I left Oracle to attend General Assembly's Web Development Immersive Program(WDI), I had
      written a program which automated hours out of my role as an Auditor.
    </p>

    <p> I enrolled in WDI determined to align my passion for building and adventure with my personal career goals,
      which my experiences at Oracle had helped clear up. My compass is now firmly set in the direction of
      data exploration, discovery, visualization and the programming involved to build the infrastructure around
      those processes. I want to learn and explore for a living, and that's what I've found in programming.
    </p>

    <img src='public/signature.png' class='img img-responsive sig'>
    </div>
    <!-- <legend class='clear'><h1> Timeline </h1></legend>
    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=12cZNh7BnHlb22rC8WBR6dV43kT0Ra0vQQGcN-rWQJuc&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
  </div> -->
