
<div class='D3-Vis nav-page'>
    <ul class="nav nav-pills data-navpils">
      <li role="presentation" class='wine-data'><a href="#">Wine Prices</a></li>
      <li role="presentation" class='iris-data'><a href="#">Iris Data Set</a></li>
      <li role="presentation" class='crime-data'><a href="#">Crime Map</a></li>
    </ul>
    <div class='loaded-data'>
      <div class='vis-default-overlay'>
        <div class='overlay-content'>
          <div class='d3-intro'>
          <h3> Data Driven Documents </h3>
          <p>D3.js offered the perfect solution to my desire to combine python data manipulation
          with the javascript skills taught in the Web Development Immersive Program. I love data visualization!</p>
          </div>
        </div>
        <div class='d3-thumbs'>
          <div class='d3-thumb wine-data'>
            <p> Wine Prices</p>
            <img class='img img-responsive' src="public/wine-thumb.png" alt="wine-thumb.png">
          </div>
          <div class='d3-thumb iris-data'>
            <p> Iris Flower Plot</p>
            <img class='img img-responsive' src="public/iris-thumb.png" alt="iris-thumb.png">
          </div>
          <div class='d3-thumb crime-data'>
            <p> Crime Locations, Portland OR</p>
            <img class='img img-responsive' src="public/crime-thumb.png" alt="crime-thumb.png">
          </div>
        </div>
      <div>

    </div>
  </div>
  </div>
</div>
