
<div class='D3-Vis nav-page'>
    <ul class="nav nav-pills data-navpils">
      <li role="presentation" class='wine-data'><a href="#">Wine Prices</a></li>
      <li role="presentation" class='iris-data'><a href="#">Iris Data Set</a></li>
      <li role="presentation" class='crime-data'><a href="#">Crime Map</a></li>
    </ul>
    <div class='loaded-data'>
      <div class='vis-default-overlay'>
        <div class='overlay-content'>
          <h3> Data Driven Documents </h3>
          <p> The following are a few visualizations I built using the powerful
            D3.js javascript library. Select a tab to display the related
          data visualization.</p>
        </div>
      <div>

    </div>
  </div>
  </div>
</div>
