
<img class = 'background-intro' src = 'public/hiking.png'>
<div class = 'row main'>
  <div class = 'col col-md-2 sidebar'>
    <nav class = 'navbar'>
      <ul class = 'nav nav-pills'>
        <li id= 'about' role="presentation" ><a href="#">About Me</a></li>
        <li id= 'projects' role="presentation" ><a href="#">Projects</a></li>
        <li id= 'experiance' role="presentation" ><a href="#">Experience</a></li>
        <li id= 'timeline' role="presentation"><a href="#">Timeline</a></li>
      </ul>
    </nav>
  </div>
  <div class = 'col col-md-10 content'>
    <div class = 'intro-text-wrap'>
      <h1>Julian Barthold</h1>
      <h4>Full Stack Web Developer <span class='glyphicon glyphicon-asterisk'></span> Data Collector</h4>
      <img src = 'public/logos.png'>
    </div>
  </div>
</div>
<!-- https://i.imgur.com/Oa2BbhG.png -->
