
<div class = 'row main'>

  {{#unless view}}
  <div class = 'col col-md-1 col-sm-12 sidebar'>
    <nav class = 'navbar'>
      <ul class = 'nav nav-pills'>
        <li class = 'arrow up'><div class="arrow-up"></div></li>
        <li class = 'navlink active' id= 'home' role="presentation" ><a href="#">Home</a></li>
        <li class = 'navlink' id= 'about' role="presentation" ><a href="#">About Me</a></li>
        <li class = 'navlink' id= 'projects' role="presentation" ><a href="#">Websites</a></li>
        <li class = 'navlink' id= 'visualizations' role="presentation" ><a href="#">Visualizations</a></li>

        <!-- <li class = 'navlink' id= 'experiance' role="presentation" ><a href="#">Experience</a></li> -->
        <!-- <li class = 'navlink' id= 'timeline' role="presentation"><a href="#">Timeline</a></li> -->
        <li class = 'arrow down'><div class="arrow-down"></div></li>
      </ul>
    </nav>
  </div>
    <div class = 'col col-md-11 col-sm-12 content'>
          {{/unless}}

        <div class='intro'>

        <div class='intro-text-wrap'>
          <h3>Julian Barthold</h3>
          <h4> Web Developer <span class='glyphicon glyphicon-asterisk'></span> Data Collector</h4>
          <legend></legend>
          <img class = 'logos img img-responsive'src = 'public/logos.png'>
          <a href="public/resume.pdf" download>
          <button class='btn btn-success'>Download Resume</button>
          </a>
        </div>

        </div>

        <div class='slider-wrap well'>
          <div class='slider' id='projects'>
          <div class= 'slide'>
            <div class='slide-overlay'></div>
            <img class='img img-responsive' src='public/grocery.png'>
          </div>
          <div class= 'slide'>
            <div class='slide-overlay'></div>
              <img class='img img-responsive' src='public/d3.png'>
          </div>
          <div class= 'slide'>
            <div class='slide-overlay'></div>
              <img class='img img-responsive'src='public/open-clinic-clean.png'>
          </div>
          <div class= 'slide'>
            <div class='slide-overlay'></div>
              <img class='img img-responsive' src='public/jeb-clean.png'>
          </div>
          <div class= 'slide'>
            <div class='slide-overlay'></div>
            <img class='img img-responsive' src='public/doh.png'>
          </div>
        </div>
        </div>

        <div class='intro-footer'>
          <div class='icons'>
            <a class='linked-in' href='https://www.linkedin.com/in/julian-barthold/'> </a>
            <a class='email' href="mailto:bartholjulian@gmail.com?Subject=Hi%20Julian"> </a>
            <a href='https://github.com/jolavb'> <img class='github' src='public/github.png' alt='github'></a>
          </div>
          <p> Custom Design by Julian Barthold </p>
        </div>

</div>
<!-- https://i.imgur.com/Oa2BbhG.png -->
