<!-- <div class='overlay-wrap'> -->
  <div class= 'container'>
  <legend><h1> Projects </h1></legend>
    <div class='row'>
      <div class= 'info-wrap' display: 'none'>
        <div class='col-xs-4'>
            <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Grocery-Basket</h3>
            </div>
              <div class='info-wrap'>
              <div class="panel-body">
                <img class = 'img img-responsive panel-img' src='public/grocery.png'>
              </div>
              </div>
          </div>
        </div>
        <div class='col-xs-4'>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Tic Tac Doh!</h3>
            </div>
            <div class="panel-body">
              <img class = 'img img-responsive panel-img' src='public/doh.png'>
            </div>
          </div>
        </div>
        <div class='col-xs-4'>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        <div class='col-xs-4'>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        <div class='col-xs-4'>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        <div class='col-xs-4'>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
    </div>
  <!-- </div> -->
</div>
</div>
