<!-- <div class='overlay-wrap'> -->
  <div class= 'container proj-container'>
  <legend><h1> Projects </h1></legend>
    <div class='row proj-row'>
      <div class='col col-xs-12'>
        <!-- Tab Navs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="page-tab active">
            <a aria-controls="Intro" role="tab" data-toggle="tab" href="#Intro">Intro</a>
          </li>

          <li role="presentation" class="page-tab" >
            <a aria-controls="Grocery-Basket" role="tab" data-toggle="tab" href="#Grocery-Basket">Grocery-Basket</a>
          </li>
          <li role="presentation" class="page-tab" >
            <a aria-controls="Tic-Tac" role="tab" data-toggle="tab" href="#Tic-Tac">Tic-Tac-Doh!</a>
          </li>
          <li role="presentation" class="page-tab" >
            <a aria-controls="JEB" role="tab" data-toggle="tab" href="#JEB">JEB! File Hosting</a>
          </li>
        </ul>

              <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="Intro">
            <legend> <h3>Projects Overview </h3> </legend>

            <div class= 'well well-lg'>
            <p>The following projects were developed over the course of a 3 month full time
            Web Development Immersive program with General Assembly. The Web Development
            Immersive Program primarily focuses on programming fundamentals, front and back
            end web development, version control via github, and team collaboration.</p>

            <p> For each of the projects I combined my previous python, webscraping, and data
            handeling experiance (where applicable) to produce interactive sites with
            pre-populated database content.</p>

            <p> Transforming large datasets into interactive and consumable content was so
            exiciting to me that in addition to the 4 'required' projects I dug into
            D3.js to create a few interactive Data Visualizations which may be found under
            the 'visualizations' tab. </p>
            </div>

          </div>
          <div role="tabpanel" class="tab-pane fade" id="Grocery-Basket">
            <h3> Grocery-Basket Overview </h3>
              <p>I have developed this Single Page Application out of my own frustration at reliably acessing and aggregating
            on sale grocery items into recipies. The goal of Grocery-Basket is to allow
            the collection and aggregation of on-sale grocery items from the greater boston area into cheap and delicious recipies. Food item and store html
            data are collected weekly and stored in a postgres db running on heroku.</p></br>

              <p>This first version of Grocery-Basket allows a user to select a grocery store to display and add on-sale items to thier cart. Cart
            items may be updated or deleted and a user may use the cart as a reference while shopping at thier local grocery store.<p>
            <img class = 'img img-responsive panel-img' src='public/grocery.png'>

            <a href='https://jolavb.github.io/Grocery-Basket//'> Web Site </a></br>
            <a href='https://grocery-basket.herokuapp.com/'> BackEnd API Link</a>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Tic-Tac">
            <h4>Tic Tac Doh</h4>
            <p>This simpsons themed tic tac toe game allows users to compete against each
            other utilizing a third paty api to store and calculate player stats.</p>

            <img class = 'img img-responsive panel-img' src='public/doh.png'>
            <a href='https://jolavb.github.io/tic-tac-doe/'>Website</a>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="JEB">
            <h4>JEB File Hosting</h4>
            <h3>OverView</h3>

            <p> JEB File Hosting is the result of our 3rd group project developed for General
              Assembly's Web Immersive Program. The site allows the upload, storage, and editing
              of any file type supported by AWS's S# service. Upload details and user information are stored in
              Mongo DB via an node/express API app hosted on Heroku. This backend communicates with AWS in order
              to store and edit the details of the uploaded files. </p>

            <h3>Planning</h3>

            <legend> User Stories</legend>
            <ul>
              <li>User can create an account.</li>
              <li>User can log in, change password, log out.</li>
              <li>User can view everyone's file.</li>
              <li>User can view only their own files.</li>
              <li>User can edit their picture properties</li>
              <li>User can log Out</li>
            </ul>

            <p>As a team, we work closely with each other to brainstorm and work on features. We break down the day's work by doing SCRUM every morning and
            ending the day with a retro meeting. We started with the backend setting up the api. Then we use scripts to test if each CRUD action is working.
            Once that was completed we worked on the front actions and connecting the actions together with the api. Lastly we worked on styling the site and making sure we meet MVP requirements.</p>

            <legend> ERD </legend>
            <img src='https://drive.google.com/file/d/1ARrIIprr5KvOdfFUTPx-DWXzE4ReRXNJ/view?usp=sharing'></img>

            <legend> Wire Frames </legend>
            <img src="https://i.imgur.com/D6VZ5xc.jpg" title="Wire Frame"/>


            <h3>Links</h3>
            <a href= "https://gitjeb.github.io/front/">Site Link</a>
            <a href= "https://github.com/GitJeb/bac">JEB API Repo</a>
            <a href= "https://dry-wildwood-27227.herokuapp.com">JEB API End Point</a>

            <h3>Technologies Used</h3>

            <ul>
              <li>HTML</li>
              <li>CSS3</li>
              <li>SCSS</li>
              <li>jQUERY</li>
              <li>JavaScript</li>
              <li>GIT/GITHUB</li>
              <li>Handlebars</li>
              <li>BootStrap</li>
            </ul>



            <h3>Future Iterations</h3>

            <p>On next update we plan to add more user fields for files.
            Users should be able to add location tag, and pdf files.
            Report users for malicious or NSFW files.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
