<!-- <div class='overlay-wrap'> -->
  <div class= 'container proj-container'>
  <legend><h1> Projects </h1></legend>
    <div class='row proj-row'>
      <div class='col col-xs-12'>
        <!-- Tab Navs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="page-tab active">
            <a aria-controls="Intro" role="tab" data-toggle="tab" href="#Intro">Intro</a>
          </li>

          <li role="presentation" class="page-tab" >
            <a aria-controls="Grocery-Basket" role="tab" data-toggle="tab" href="#Grocery-Basket">Grocery Basket</a>
          </li>

          <li role="presentation" class="page-tab">
            <a aria-controls="OpenClinic" role="tab" data-toggle="tab" href="#OpenClinic">Open Clinic</a>
          </li>

          <li role="presentation" class="page-tab" >
            <a aria-controls="Tic-Tac" role="tab" data-toggle="tab" href="#Tic-Tac">Tic Tac Doh!</a>
          </li>
          <li role="presentation" class="page-tab" >
            <a aria-controls="JEB" role="tab" data-toggle="tab" href="#JEB">JEB File Hosting</a>
          </li>
          <li role="presentation" class="page-tab" >
            <a aria-controls="Data-Vis" role="tab" data-toggle="tab" href="#Data-Vis">D3 Data Visualizations</a>
          </li>
        </ul>

              <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="Intro">

            <div class= 'well well-lg'>
            <legend> <h3>Projects Overview </h3> </legend>
            <p> &nbsp The following projects were developed over the course of a 3 month full time
            Web Development Immersive program with General Assembly. The Web Development
            Immersive Program primarily focuses on programming fundamentals, front and back
            end web development, version control via github, and team collaboration.</p>

            <p>   For each of the projects I combined my previous python, webscraping, and data
            handeling experiance (where applicable) to produce interactive sites with
            pre-populated database content.</p>

            <p>   Transforming large datasets into interactive and consumable content was so
            exiciting to me that in addition to the 4 'required' projects I dug into
            D3.js to create a few interactive Data Visualizations which may be found under
            the 'visualizations' tab. </p>

           <div class= "row projects-overview">
              <div class='col-md-3 col-sm-6'>
                <h4>Grocery Basket</h4>
                <a aria-controls="Grocery-Basket" data-toggle="tab" href="#Grocery-Basket" class="thumbnail">
                  <img src="public/grocery.png" alt="Grocery-Basket.png">
                </a>
              </div>
              <div class='col-md-3 col-sm-6'>
                <h4>Open Clinic</h4>
                <a  aria-controls="OpenClinic" role="tab" data-toggle="tab" href="#OpenClinic"class="thumbnail">
                  <img src="public/open-clinic-clean.png" alt="open-clinic-clean.png">
                </a>
              </div>
              <div class='col-md-3 col-sm-6'>
                <h4>Tic Tac Doh!</h4>
                <a aria-controls="Tic-Tac" role="tab" data-toggle="tab" href="#Tic-Tac"class="thumbnail">
                  <img src="public/doh.png" alt="doh.png">
                </a>
              </div>
              <div class='col-md-3 col-sm-6'>
                <h4>Jeb File Hosting</h4>
                <a aria-controls="JEB" role="tab" data-toggle="tab" href="#JEB" class="thumbnail">
                  <img src="public/jeb-clean.png" alt="jeb-clean.png">
                </a>
              </div>
              <div class='col-md-3 col-sm-6'>
                <h4>D3 Data Visualization</h4>
                <a aria-controls="Data-Vis" role="tab" data-toggle="tab" href="#Data-Vis" class="thumbnail">
                  <img src="public/d3.png" alt="d3.png">
                </a>
              </div>
            </div>
           </div>

          </div>
          <div role="tabpanel" class="tab-pane fade" id="OpenClinic">
            <div class= 'row well well-lg'>
              <div class= 'col-md-5 col-sm-12'>
                <img class= 'img img-responsive' src='public/openClinic.png'>
              </div>
              <div class= 'panel-intro panel-section col-md-7 col-sm-12'>
                <h1> Open Clinic </h1>
                <p>Search thousands of clinical trial records by phase. </br> Powered by
                  the Open Clinic API.
                </p>
                <a target="_blank" href='https://jolavb.github.io/open-clinic-client/#/studies'><button class='search btn btn-success'> Search Studies </button></a>
              </div>
              <div class= 'col-xs-12 panel-section'>
                <legend> <h3> Open Clinic Client </h3></legend>
                <p>This Ember client application queries the open-clinic-api to view,
                   search and add comments to any public clinical trial submitted to
                   clinicalTrials.gov as of January 1st, 2017 served by the api.
                   Users may sign in to search clincial trials by phase, view trial
                   information as well as comment on a specific trial.</p>
                <h4 class='dev'> Client Development </h4>
                <p>Following the pattern I established to tackle the many
                  tables and relationships included in the back-end API,
                  I added models to the ember framework one at a time.
                  Once a model had been added, I followed the Data Down,
                  Actions Up approach to fetch and pass model data down
                  to the correct componenet. Once I was satisfied with the
                  rendering and actions required for one model, I moved onto
                  related models, and finally to the search params to filter studies
                  by phase.</p>

                  <a target="_blank" href='https://github.com/jolavb/open-clinic-client'>
                    <img src='public/github.ico' class='img img-responsive github'>
                    <span>View Client Repository</span>
                  </a>

              </div>
              <div class= 'col-xs-7 panel-section'>
                <legend> <h3> API Development</h3></legend>
                <p>This Rails API serves public clinical trial data to the Open-Clinic-API
                  from a postgres database containing a complete record of clinical trials
                  submitted to clinicalTrials.gov as of January 1st, 2017. The underlying database
                  was originally cloned from <a href='https://www.ctti-clinicaltrials.org/'>clinicaltrials.org</a> and extended to
                  include user authentication and user-owned resources.</p>

                  <h4 class='dev'> Developing the API</h4>
                  <p>I intentionally bit off more than I could chew by cloning a large existing database from
                    <a href='https://www.ctti-clinicaltrials.org/'>clinicaltrials.org</a> with
                    over 40 tabls and relationships. I have
                    taken small steps and added relationships, models,
                    routes and Controllers for 1 table at a time. I began with the
                    primary table, which all others are related; the studies table.
                    One each route was performing as anticipated, with the correct information
                    serialized, I progressed to the next table.</p>

                    <a target="_blank" href= 'https://github.com/jolavb/open-clinic-api'>
                      <img src='public/github.ico' class='img img-responsive github'>
                      <span>View API Repository</span>
                    </a>

              </div>
              <div class= 'panel-image col-xs-5'>
                <h4> Entity Relationships </h4>
                <a target="_blank"href="https://imgur.com/pAfJgNR"><img class='img img-responsive' src="https://i.imgur.com/pAfJgNR.png" title="source: imgur.com" /></a>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Grocery-Basket">
            <div class= 'row well well-lg'>
              <div class= 'col-md-5 col-sm-12'>
                <img class= 'img img-responsive' src='public/Grocery-Basket.png'>
              </div>
              <div class= 'panel-intro panel-section col-md-7 col-sm-12'>
                <h1> Grocery Basket </h1>
                <p>Browse discount grocery items from your favorite Boston Area
                  Grocery Store. Powered by the Grocery-Basket API.</p>
                <a target="_blank" href='https://jolavb.github.io/Grocery-Basket/'><button class='search btn btn-success'> Browse Discounts </button></a>
              </div>
              <div class= 'col-xs-12 panel-section'>
                <legend> <h3> Open Clinic Client </h3></legend>
                <p>This Ember client application queries the open-clinic-api to view,
                   search and add comments to any public clinical trial submitted to
                   clinicalTrials.gov as of January 1st, 2017 served by the api.
                   Users may sign in to search clincial trials by phase, view trial
                   information as well as comment on a specific trial.</p>
                <h4 class='dev'> Client Development </h4>
                <p>Following the pattern I established to tackle the many
                  tables and relationships included in the back-end API,
                  I added models to the ember framework one at a time.
                  Once a model had been added, I followed the Data Down,
                  Actions Up approach to fetch and pass model data down
                  to the correct componenet. Once I was satisfied with the
                  rendering and actions required for one model, I moved onto
                  related models, and finally to the search params to filter studies
                  by phase.</p>

                  <a target="_blank" href='https://github.com/jolavb/open-clinic-client'>
                    <img src='public/github.ico' class='img img-responsive github'>
                    <span>View Client Repository</span>
                  </a>

              </div>
              <div class= 'col-xs-7 panel-section'>
                <legend> <h3> API Development</h3></legend>
                <p>This Rails API serves public clinical trial data to the Open-Clinic-API
                  from a postgres database containing a complete record of clinical trials
                  submitted to clinicalTrials.gov as of January 1st, 2017. The underlying database
                  was originally cloned from <a href='https://www.ctti-clinicaltrials.org/'>clinicaltrials.org</a> and extended to
                  include user authentication and user-owned resources.</p>

                  <h4 class='dev'> Developing the API</h4>
                  <p>I intentionally bit off more than I could chew by cloning a large existing database from
                    <a href='https://www.ctti-clinicaltrials.org/'>clinicaltrials.org</a> with
                    over 40 tabls and relationships. I have
                    taken small steps and added relationships, models,
                    routes and Controllers for 1 table at a time. I began with the
                    primary table, which all others are related; the studies table.
                    One each route was performing as anticipated, with the correct information
                    serialized, I progressed to the next table.</p>

                    <a target="_blank" href= 'https://github.com/jolavb/open-clinic-api'>
                      <img src='public/github.ico' class='img img-responsive github'>
                      <span>View API Repository</span>
                    </a>

              </div>
              <div class= 'panel-image col-xs-5'>
                <h4> Entity Relationships </h4>
                <a target="_blank"href="https://imgur.com/pAfJgNR"><img class='img img-responsive' src="https://i.imgur.com/pAfJgNR.png" title="source: imgur.com" /></a>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Tic-Tac">
            <div class= 'row well well-lg'>
              <div class= 'col-md-5 col-sm-12'>
                <img class= 'img img-responsive' src='public/tic-tac-doe.png'>
              </div>
              <div class= 'panel-intro panel-section col-md-7 col-sm-12'>
                <h1> Tic-Tac-Doh! </h1>
                <p>Play this simpsons themed tic tac toe game and keep track of
                  your wins and loses. Don't get burned!
                 </p>
                <a target="_blank" href='https://jolavb.github.io/tic-tac-doe/'><button class='nuclear btn btn-success'>Sign up to Play!  </button></a>
              </div>
              <div class= 'col-xs-12 panel-section'>
                <legend> <h3> Open Clinic Client </h3></legend>
                <p>This Ember client application queries the open-clinic-api to view,
                   search and add comments to any public clinical trial submitted to
                   clinicalTrials.gov as of January 1st, 2017 served by the api.
                   Users may sign in to search clincial trials by phase, view trial
                   information as well as comment on a specific trial.</p>
                <h4 class='dev'> Client Development </h4>
                <p>Following the pattern I established to tackle the many
                  tables and relationships included in the back-end API,
                  I added models to the ember framework one at a time.
                  Once a model had been added, I followed the Data Down,
                  Actions Up approach to fetch and pass model data down
                  to the correct componenet. Once I was satisfied with the
                  rendering and actions required for one model, I moved onto
                  related models, and finally to the search params to filter studies
                  by phase.</p>

                  <a target="_blank" href='https://github.com/jolavb/open-clinic-client'>
                    <img src='public/github.ico' class='img img-responsive github'>
                    <span>View Client Repository</span>
                  </a>

              </div>
              <div class= 'col-xs-7 panel-section'>
                <legend> <h3> API Development</h3></legend>
                <p>This Rails API serves public clinical trial data to the Open-Clinic-API
                  from a postgres database containing a complete record of clinical trials
                  submitted to clinicalTrials.gov as of January 1st, 2017. The underlying database
                  was originally cloned from <a href='https://www.ctti-clinicaltrials.org/'>clinicaltrials.org</a> and extended to
                  include user authentication and user-owned resources.</p>

                  <h4 class='dev'> Developing the API</h4>
                  <p>I intentionally bit off more than I could chew by cloning a large existing database from
                    <a href='https://www.ctti-clinicaltrials.org/'>clinicaltrials.org</a> with
                    over 40 tabls and relationships. I have
                    taken small steps and added relationships, models,
                    routes and Controllers for 1 table at a time. I began with the
                    primary table, which all others are related; the studies table.
                    One each route was performing as anticipated, with the correct information
                    serialized, I progressed to the next table.</p>

                    <a target="_blank" href= 'https://github.com/jolavb/open-clinic-api'>
                      <img src='public/github.ico' class='img img-responsive github'>
                      <span>View API Repository</span>
                    </a>

              </div>
              <div class= 'panel-image col-xs-5'>
                <h4> Entity Relationships </h4>
                <a target="_blank"href="https://imgur.com/pAfJgNR"><img class='img img-responsive' src="https://i.imgur.com/pAfJgNR.png" title="source: imgur.com" /></a>
              </div>
            </div>

          </div>
          <div role="tabpanel" class="tab-pane fade" id="JEB">
            <div class= 'row well well-lg'>
              <div class= 'col-md-5 col-sm-12'>
                <img class= 'img img-responsive' src='public/jeb.png'>
              </div>
              <div class='panel-intro panel-section col-md-7 col-sm-12'>
                <h1> JEB File Hosting </h1>
                <p>Upload, Edit, and View Community Uploads with JEB File Hosting.</p>
                <a target="_blank" href='https://gitjeb.github.io/front/'><button class='upload btn btn-success'>Sign up to Upload! </button></a>
              </div>
              <div class= 'col-xs-12 panel-section'>
                <legend> <h3> Open Clinic Client </h3></legend>
                <p>This Ember client application queries the open-clinic-api to view,
                   search and add comments to any public clinical trial submitted to
                   clinicalTrials.gov as of January 1st, 2017 served by the api.
                   Users may sign in to search clincial trials by phase, view trial
                   information as well as comment on a specific trial.</p>
                <h4 class='dev'> Client Development </h4>
                <p>Following the pattern I established to tackle the many
                  tables and relationships included in the back-end API,
                  I added models to the ember framework one at a time.
                  Once a model had been added, I followed the Data Down,
                  Actions Up approach to fetch and pass model data down
                  to the correct componenet. Once I was satisfied with the
                  rendering and actions required for one model, I moved onto
                  related models, and finally to the search params to filter studies
                  by phase.</p>

                  <a target="_blank" href='https://github.com/jolavb/open-clinic-client'>
                    <img src='public/github.ico' class='img img-responsive github'>
                    <span>View Client Repository</span>
                  </a>

              </div>
              <div class= 'col-xs-7 panel-section'>
                <legend> <h3> API Development</h3></legend>
                <p>This Rails API serves public clinical trial data to the Open-Clinic-API
                  from a postgres database containing a complete record of clinical trials
                  submitted to clinicalTrials.gov as of January 1st, 2017. The underlying database
                  was originally cloned from <a href='https://www.ctti-clinicaltrials.org/'>clinicaltrials.org</a> and extended to
                  include user authentication and user-owned resources.</p>

                  <h4 class='dev'> Developing the API</h4>
                  <p>I intentionally bit off more than I could chew by cloning a large existing database from
                    <a href='https://www.ctti-clinicaltrials.org/'>clinicaltrials.org</a> with
                    over 40 tabls and relationships. I have
                    taken small steps and added relationships, models,
                    routes and Controllers for 1 table at a time. I began with the
                    primary table, which all others are related; the studies table.
                    One each route was performing as anticipated, with the correct information
                    serialized, I progressed to the next table.</p>

                    <a target="_blank" href= 'https://github.com/jolavb/open-clinic-api'>
                      <img src='public/github.ico' class='img img-responsive github'>
                      <span>View API Repository</span>
                    </a>

              </div>
              <div class= 'panel-image col-xs-5'>
                <h4> Entity Relationships </h4>
                <a target="_blank"href="https://imgur.com/pAfJgNR"><img class='img img-responsive' src="https://i.imgur.com/pAfJgNR.png" title="source: imgur.com" /></a>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Data-Vis">
            <div class= 'row well well-lg'>
              <div class= 'col-sm-12'>

                <!-- Wine Price Visualization -->
                <legend> Average Wine Price by Country </legend>
                <div class= 'wrapper'>
                  <div class='loaded-data'>
                    <button class='wine-data btn btn-primary'> Load Wine Price CSV Data </button>
                    <svg  class='wine' width='1200' height="500"></svg>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
</div>
</div>
