<div class='vis-tab-intro'>
<legend> <h3>Portland, OR 2017 Crime Coordinates </h3></legend>
  <p> I've been fascinated by fancy geospatial visualizations since before I knew what
    html was. With a few d3 projects under my belt, I decided I wanted one of my own. I found data on
    57k crimes committed in Portland Oregan which included crime latitude and longtitude. To get the data down to a reasonable
    size (for hosting on github-pages) I used python/pandas to extract 10k rows including just coordinate and crime type information. The first time
    I rendered the data I was excited to see a complete outline of Portland including streets and waterways!
  <p>
</div>

<div class= 'data-wrapper well'>
  <div class='crime-info'></div>
</div>
