
<h3> Grocery-Basket Overview </h3>
  <p>I have developed this Single Page Application out of my own frustration at reliably acessing and aggregating
on sale grocery items into recipies. The goal of Grocery-Basket is to allow
the collection and aggregation of on-sale grocery items from the greater boston area into cheap and delicious recipies. Food item and store html
data are collected weekly and stored in a postgres db running on heroku.</p></br>

  <p>This first version of Grocery-Basket allows a user to select a grocery store to display and add on-sale items to thier cart. Cart
items may be updated or deleted and a user may use the cart as a reference while shopping at thier local grocery store.<p>
<img class = 'img img-responsive panel-img' src='public/grocery.png'>

<a href='https://jolavb.github.io/Grocery-Basket//'> Web Site </a></br>
<a href='https://grocery-basket.herokuapp.com/'> BackEnd API Link</a>
