

<legend> <h3>Project Development </h3> </legend>

<div>
<p>The following projects were developed over the course of a 3 month full time
Web Development Immersive program with General Assembly. The Web Development
Immersive Program primarily focuses on programming fundamentals, front and back
end web development, version control via github, and team collaboration.</p>

<p> For each of the projects I combined my previous python, webscraping, and data
handeling experiance (where applicable) to produce interactive sites with
pre-populated database content.</p>

<p> Transforming large datasets into interactive and consumable content was so
exiciting to me that in addition to the 4 'required' projects I dug into
D3.js to create a few interactive Data Visualizations which may be found under
the 'visualizations' tab. </p>
</div>
