<legend> <h3>Iris Species Plot</h3></legend>

<div class= 'data-wrapper'>
  <form class='form-inline'>
    <div class="form-group">
      <label> X-Axis: </label>
      <select class='form-control' name='x'>
        <option value= 'SepalLengthCm'>Sepal Length</option>
        <option value='SepalWidthCm'>Sepal Width</option>
        <option value='PetalLengthCm'>Petal Length</option>
        <option value='PetalLengthCm'>Petal Width</option>
      </select>
    </div>
    <div class="form-group">
      <label> Y-Axis: </label>
      <select class='form-control' name='y'>
        <option value= 'PetalLengthCm'>Sepal Length</option>
        <option value='SepalWidthCm'>Sepal Width</option>
        <option value='SepalLengthCm'>Petal Length</option>
        <option value='PetalLengthCm'>Petal Width</option>
      </select>
    </div>

    <div class="form-group">
      <label> Point Radius: </label>
      <select class='form-control' name='radius'>
        <option value='SepalWidthCm'>Sepal Length</option>
        <option value='SepalLengthCm'>Sepal Width</option>
        <option value='PetalLengthCm'>Petal Length</option>
        <option value='PetalLengthCm'>Petal Width</option>
      </select>
    </div>
  </form>


  <div class='loaded-data3'>
    <table class='iris-info'></table>
  </div>
</div>
