<div class='vis-tab-intro'>
  <legend> <h3>Iris Species Plot</h3></legend>
  <p> After gaining some momentum with D3 by charting wine prices, I wanted up the ante
    by supporting multiple user interactions and visualizing multiple dimesions. I settled
    on a classic machine learning data set and got to work. Iris flower species are color-coded
    and various attributes may be assigned to the x,y axes and point radius.
</div>

<div class='well data-wrapper'>
{{#unless loaded}}
<form class='form-inline'>
  <div class="form-group">
    <label> X-Axis: </label>
    <select class='form-control' name='x'>
      <option value= 'SepalLengthCm'>Sepal Length</option>
      <option value='SepalWidthCm'>Sepal Width</option>
      <option value='PetalLengthCm'>Petal Length</option>
      <option value='PetalLengthCm'>Petal Width</option>
    </select>
  </div>
  <div class="form-group">
    <label> Y-Axis: </label>
    <select class='form-control' name='y'>
      <option value= 'PetalLengthCm'>Sepal Length</option>
      <option value='SepalWidthCm'>Sepal Width</option>
      <option value='SepalLengthCm'>Petal Length</option>
      <option value='PetalLengthCm'>Petal Width</option>
    </select>
  </div>

  <div class="form-group">
    <label> Point Radius: </label>
    <select class='form-control' name='radius'>
      <option value='SepalWidthCm'>Sepal Length</option>
      <option value='SepalLengthCm'>Sepal Width</option>
      <option value='PetalLengthCm'>Petal Length</option>
      <option value='PetalLengthCm'>Petal Width</option>
    </select>
  </div>
</form>
{{/unless}}

  <div class='iris-info'>
    <table class='iris-table'></table>
  </div>
</div>
