<h4>JEB File Hosting</h4>
<h3>OverView</h3>

<p> JEB File Hosting is the result of our 3rd group project developed for General
  Assembly's Web Immersive Program. The site allows the upload, storage, and editing
  of any file type supported by AWS's S# service. Upload details and user information are stored in
  Mongo DB via an node/express API app hosted on Heroku. This backend communicates with AWS in order
  to store and edit the details of the uploaded files. </p>

<h3>Planning</h3>

<legend> User Stories</legend>
<ul>
  <li>User can create an account.</li>
  <li>User can log in, change password, log out.</li>
  <li>User can view everyone's file.</li>
  <li>User can view only their own files.</li>
  <li>User can edit their picture properties</li>
  <li>User can log Out</li>
</ul>

<p>As a team, we work closely with each other to brainstorm and work on features. We break down the day's work by doing SCRUM every morning and
ending the day with a retro meeting. We started with the backend setting up the api. Then we use scripts to test if each CRUD action is working.
Once that was completed we worked on the front actions and connecting the actions together with the api. Lastly we worked on styling the site and making sure we meet MVP requirements.</p>

<legend> ERD </legend>
<img src='https://drive.google.com/file/d/1ARrIIprr5KvOdfFUTPx-DWXzE4ReRXNJ/view?usp=sharing'></img>

<legend> Wire Frames </legend>
<img src="https://i.imgur.com/D6VZ5xc.jpg" title="Wire Frame"/>


<h3>Links</h3>
<a href= "https://gitjeb.github.io/front/">Site Link</a>
<a href= "https://github.com/GitJeb/bac">JEB API Repo</a>
<a href= "https://dry-wildwood-27227.herokuapp.com">JEB API End Point</a>

<h3>Technologies Used</h3>

<ul>
  <li>HTML</li>
  <li>CSS3</li>
  <li>SCSS</li>
  <li>jQUERY</li>
  <li>JavaScript</li>
  <li>GIT/GITHUB</li>
  <li>Handlebars</li>
  <li>BootStrap</li>
</ul>



<h3>Future Iterations</h3>

<p>On next update we plan to add more user fields for files.
Users should be able to add location tag, and pdf files.
Report users for malicious or NSFW files.
</p>
