
<legend> <h3>Average International Wine Prices</h3></legend>
<div class='well data-wrapper'>
  <select class="wine-order form-control">
    <option value="Ascending">Ascending</option>
    <option value="Descending">Descending</option>
  </select>
  <div class='wine-info'></div>
  </div>
</div>
