
<div class='vis-tab-intro'>
  <legend> <h3>Average International Wine Prices</h3></legend>
<p> My first ever d3 chart! I wanted a simple data set and found wine price data on kaggle.com. I used
  python/pandas to average the prices by country and exported the data to a csv. It started as a demo for class with no user interaction, but it was too much fun
  to just stop there.
</p>

</div>


<div class='well data-wrapper'>
  <select class="wine-order form-control">
    <option value="Ascending">Ascending</option>
    <option value="Descending">Descending</option>
  </select>
  <div class='wine-info'></div>
  </div>
</div>
