
// General
legend {
  border-bottom: 1px solid $blue;
}

p {
    text-indent: 10px;
}

h1 , h2, h3 {
  font-family: 'Libre Baskerville', serif;
  color: $transblack;
}

html, body {
  height: 100%;
  width: 100%;
}

.fade-in {
  display: none;
  height: 100%;
}

.container-fluid {
  padding: 0;
}

.main {
  height: 100%;
}

.background-intro {
  position: absolute;
  height: 100%;
  width: 100%;
}

.intro-text-wrap {
  position: absolute;
  text-align: center;
  top: 25%;
  padding-left: 10%;
  font-family: 'Libre Baskerville', serif;
  color: $transblack;

  > img {
    display: block;
    margin: 0 auto;
  }
}


.col {
  height: 100%;
}

.navbar {
  top: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  .nav {
    position: relative;
    text-align: center
  }
  > .nav-pills > li {
    float: none;
  }
}

.arrow {
    margin: 10px;
  > .arrow-up {
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid $transblack;
  }
  > .arrow-down {
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid $transblack;
  }

}


// Icons

.dev {
  @include elegant-icon('icon_tools');
}

.search {
  @include elegant-icon('icon_search', 'after');
}

.upload {
  @include elegant-icon('icon_cloud-upload', 'after');
}

.nuclear {
  @include elegant-icon('icon_genius', 'after');
}

.github {
  width: 40px;
  display: inline;
}

// Panels

.panel-section {
  padding-top: 20px;
  > h4 {
    padding-top: 20px;
  }
}

.entity-rels {
  max-width: 250px;
}
.img-right {
  float: right;
}

// D3

.axis path,
.axis line {
  fill: none;
  stroke: $blue;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.types {
  position: absolute;
  top: 20px;
  left: 10px;
  background: RGBA(255, 255, 255, .11);
  padding: 10px;
  > p:hover {
    background: black;
  }
}


.data-wrapper{
  position: relative;
  background: black;
}

.iris-info {
  position: absolute;
  right: 0;
  bottom: 5px;
  background: $blue;
  color: white;
  margin: 20px;
  height: 200px;
  width: 200px;
  display: none;
}

.form-inline {
  color: white;
  text-align: center;
  padding-top: 5px;
}

circle {
  fill-opacity: 0.8
}

.vis-default-overlay {
  background: url('https://i.imgur.com/9mreDyw.png');
  height: 500px;
  position: relative;
  z-index: 1;
  text-align: center;
  padding:40px;
  background-size: cover;
  @include dark-overlay;
}

.overlay-content {
  width: 50%;
  margin: 0 auto;
  padding-top: 60px;
  color: $white;
  > h3 {
    color: $white;
    font-family: 'Libre Baskerville', serif;
  }
}

.vis-default-overlay::after {
  background: rgba(0, 0, 0, .75);
}

.bar:hover {
  fill: red;
}

.loaded-data {
  position: relative;
}

.wine-info {
  position: relative;
  > .wine-order {
    position: absolute;
    top: 10px;
  }
}

table {
  margin: 0 auto;
  text-align: center;
  color: white;
}

.bordered {
  width: fit-content;
  border: 1px solid blue;
  margin: 0 auto;
}


// Tabs
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: $blue;
  border: 1px solid #888888;
}

.projects-overview {
  > .col-sm-6 {
    text-align: center;
  }
}


// Page styles

.panel-image {
  text-align: center;
}
.proj-container {
  height: inherit;
  > .row {
    height: inherit;

  }
}

.overlay-wrap {
  margin-right: 20px;
  height: 100%;
  width: 100%;
  background: $transblack2;
}

.panel {
  float: left;
  height: 325px;
  width: 325px;
  margin: 10px;
}

// Portfolio


// Spinner
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
