
// General

h1 {
  font-family: 'Libre Baskerville', serif;
  color: $transblack;
}

html, body {
  height: 100%;
  width: 100%;
}

.fade-in {
  display: none;
  height: 100%;
}

.container-fluid {
  padding: 0;
}

.main {
  height: 100%;
}

.background-intro {
  position: absolute;
  height: 100%;
  width: 100%;
}

.intro-text-wrap {
  position: absolute;
  text-align: center;
  top: 25%;
  padding-left: 10%;
  font-family: 'Libre Baskerville', serif;
  color: $transblack;

  > img {
    display: block;
    margin: 0 auto;
  }
}


.col {
  height: 100%;
}

.navbar {
  top: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  // background: #02020257;
  .nav {
    position: relative;
    text-align: center
  }
  > .nav-pills > li {
    float: none;
  }
}

.arrow {
    margin: 10px;
  > .arrow-up {
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid $transblack;
  }
  > .arrow-down {
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid $transblack;
  }

}


// Page styles

.overlay-wrap {
  margin-right: 20px;
  height: 100%;
  width: 100%;
  background: $transblack2;
}

.panel {
  float: left;
  height: 325px;
  width: 325px;
  margin: 10px;
}

// Spinner
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
